#myform{
    display: none;
}
table tbody tr .imge img{
    display: flex;
    justify-content: center;
    flex-direction: row;
     width:250px;
     height: 200px;
    
 }
 

 table{
    width: 100%;
    background-color:rgb(228, 183, 169);
    margin: 20px;
    font-family: 'Courier New', Courier, monospace;
 }
 table td{
    padding:12px ;
    text-align: center;
 }

 ul li {
    list-style-type: none;
    text-align: center;
   display: flex;
   justify-content: center;

 }
 
 .imge
 {
    text-align: center;
   display: flex;
   justify-content: center;
   flex-direction: row;
justify-content: space-evenly;
align-items:right;
margin-bottom: 20px;
}
 

 .hide
 {
    display: none;
    
 }
 a{
    background-color:burlywood;
   border-radius: 20px;
   font-size: 18px;
   color: black;
   padding: 5px;
   text-decoration: none;
   margin: 15px;
   cursor: pointer;

 }
 button{
   cursor: pointer;
   background-color:salmon;
   font-size: 18px;
   border-radius: 15px;
margin-left: 660px;
}
 .aboutpage{
   padding-right: 150px;
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   background-color: rgb(201, 198, 198);

 }
 #myform{   
   margin: 100px;
   font-size: 18px;
   background-color:rgb(243, 243, 243);
 }
 .navigation{
 padding: 20px 40px;
 display: flex;
 justify-content:space-around;
 align-items: center;
background-color:darksalmon;
position: relative;
margin: 0 ;
padding: 5px;
}

body {
   font-family: Arial, sans-serif;
   margin: 0;
   padding: 0;
 }
 
 header {
   background-color: #333;
   color: #fff;
   padding: 20px;
 }
 

 
 nav ul {
   list-style-type: none;
   padding: 0;
   margin: 0;
 }
 
 nav ul li {
   display: inline-block;
   margin-right: 10px;
 }
 
 nav ul li a {
   color: #fff;
   text-decoration: none;
 }
 
 nav ul li a.active {
   font-weight: bold;
 }
 
 main {
   padding: 20px;
 }
 
 section {
   margin-bottom: 20px;
 }
 
 h2 {
   color: #333;
 }
 
 ul {
   list-style-type: none;
   padding: 0;
 }
 
 footer {
   background-color: #333;
   color: #fff;
   text-align: center;
   padding: 10px;

 }